    html{
        scroll-behavior: smooth;
    }

    body{
        font-family: 'Roboto', sans-serif;
    }

    .navbar-brand{
        font-family: 'Viga', sans-serif;
        font-size: 22px !important;
    }
    .navbar{
        z-index: 1;
    }



    .jumbotron {
        background-image: url(img/bg2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 570px;
        position: relative;
        
        
    }

    .jumbotron::after{
        content: ' ';
        width: 100%;
        height: 670px;
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        display: block;
        bottom: 0;
        
        
    }

    .jumbotron .container{
        text-align: center;
        z-index: 1;
        position: relative;
        
    }

    .main-heading{
        font-size: 38px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 90px 0 20px;
        text-shadow: 2px 2px rgba(0,0,0,0.3);
        
    }

    .learn-more h5{
        font-weight: 200;
        margin-top: 80px;
    }
    .learn-more i{
        color: white;
        font-size: 18px;
    }

    .second-heading{
        text-transform: capitalize;
        font-size: 28px;
    }

    .text-bold{
        font-weight: 600;

    }
    .btn{
        border-radius: 50px;
        width: 140px !important;
        font-size: 18px;
    }

    .info-menu{
        background-color: #ffffff;
        border-radius: 18px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
        padding: 30px 10px 30px 30px;
        margin-top: -100px;
        position: relative;    
    }
    .info-menu i{
        font-size: 40px;
        margin-right: 15px;
        float: left;
        
    }

    .info-menu h6{
        font-size: 17px;
        margin-top: 5px;
        
    }
    .info-menu p{
        font-size: 13px;
        margin-top: -10px;
        color: #acacac
    }



    .info-text h4{
        text-transform: capitalize;
        font-size: 36px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: 100px;
    }

    .info-text p{
        margin-left: 15px;
        font-size: 16px;
    }
    .info-text button{
        font-size: 14px;
        margin: 20px 15px; 

    }
    .pic{
        box-shadow: 2px 6px 7px rgba(0,0,0, 0.8);
        border-radius: 10px;

    }

    #pic-1{
        margin-top: 100px;
    }

    #pic-2{
        margin-top: 150px;
    }

    #content-2 .info-text{
        margin-top: 220px;
    }

    .divider{
        margin-top: 70px;
        width: 100%;
        height: 2px;
        border-top: 1px solid #acacac;
    }

    .premium-tag{
        margin: 100px 0 40px;
        font-size: 42px;
        text-transform: uppercase;
        text-align: center;
    }

    .premium-card{
        padding: 40px 30px 20px 40px;
        box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
        border: 1px solid #000738;
        border-radius: 5px;
        

    }
    .premium-card .card-title{
        text-align: center;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .premium-card .price{
        margin-top: 20px;
        margin-bottom: 0;
    }

    .premium-card .main-price{
        font-size: 25px;
        
    }

    .premium-card ul li{
        text-transform: capitalize;
        margin-top: 7px;
    }
    .premium-card .btn-price{
        width: 100% !important;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .fa-arrow-right{
        font-size: 13px;
        margin-left: 5px;
    }

    .bug-report .container h3.bug-report-title{
        font-size: 36px;
    }

    footer{
        background-color: #343a40;
        width: 100%;
        padding: 10px 0;
    }
    footer .container p.footer-el{
        margin: 15px  0;
        color: white !important;
        margin: 15px 10px 0 0;
    }
    footer .container .footer-el.social-icon a i{
        margin: 15px 10px 0 0;
        font-size: 18px;
        color: white !important;
    }
    


    @media (min-width: 992px) {
        .main-heading{
            font-size: 48px;
            margin-top: 120px;
        }
        .jumbotron{
            height: 670px;
        }


    }